@{
    ViewBag.Title = "用户";
    Layout = "~/Views/Admin/_Layout.cshtml";
    List<string> Organizations = ViewBag.Organization;
    List<LoowooTech.Jurisdiction.Models.User> Users = ViewBag.Users;
    int SerialNumber = 1;
}

@{
    Html.RenderPartial("AddUser", Organizations);
    Html.RenderPartial("Search");
}

<table class="table table-bordered">
    <tr>
        <th style="text-align:center;font-size:larger; width: 55px">序号</th>
        <th style="text-align:center;font-size:larger">姓名</th>
        <th style="text-align:center;font-size:larger">用户名</th>
        <th style="text-align:center;font-size:larger; width: 110px">过期时间</th>
        <th style="text-align:center;font-size:larger">所属组</th>
        <th style="text-align:center;font-size:larger; width: 135px">编辑</th>
    </tr>
    @foreach (var user in Users)
    {
        <tr>
            <td>@(SerialNumber++)</td>
            <td>@(user.Name)</td>
            <td>@(user.Account)</td>
            <td>@(user.AccountExpires)</td>
            <td>
                @foreach (var str in user.Group)
                {
                    @(str + ";");
                }
            </td>
            <td> 
                <a class="btn btn-primary btn-xs"><i class="glyphicon glyphicon-pencil"></i>&nbsp;&nbsp;修改</a>
                <a href="/Admin/Delete?Name=@user.Name&&Flag=true" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-remove"></i>&nbsp; 删除</a>
            </td>
        </tr>
    }   
</table>











