@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var action=Request.RequestContext.RouteData.Values["action"].ToString();
}

@section nav{
    <li class="@(action=="Index"?"active":null)"><a href="/User/Index"><i class="glyphicon glyphicon-home"></i>&nbsp;首页</a></li>
    <li class="@(action=="Apply"?"active":null)"><a href="/User/Apply"><i class="glyphicon glyphicon"></i>&nbsp;申请权限</a></li>
    <li class="@(action=="Message"?"active":null)"><a href="/Safe/Message"><i class="glyphicon glyphicon-envelope"></i>&nbsp;申请中心&nbsp;<span class="badge">@(ViewBag.BCount)</span></a></li>  
}

@RenderBody()