@{
    ViewBag.Title = "申请权限";
    Layout = "~/Views/Member/_Layout.cshtml";
    LoowooTech.Jurisdiction.Models.User User = ViewBag.User;
    List<LoowooTech.Jurisdiction.Models.Group> List = ViewBag.ListGroup;
    List<LoowooTech.Jurisdiction.Models.DataBook> MList = ViewBag.Mine;
    List<string> ManagerList = ViewBag.ManagerList;
    int SerialNumber = 1;
    int Serial = 1;
}

<div style="position:relative">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#Apply" data-toggle="tab"><i class="glyphicon glyphicon-glass"></i>&nbsp;申请中心</a></li>
        <li class=""><a href="#Mine" data-toggle="tab"><i class="glyphicon glyphicon-leaf"></i>&nbsp; 我的申请</a></li>
    </ul>
</div>

<div class="tab-content">
    <div class="tab-pane fade active in" id="Apply">
        <div class="alert alert-info" role="alert">

            @if (User.Group != null)
            {
                <p>当前用户隶属于:</p>
                foreach (var group in User.Group)
                {
                    <p>@(SerialNumber++):@(group)</p>
                }
            }
        </div>
        <form class="form-horizontal" method="post" action="">
            <div class="form-group">
                <label for="" class="control-label col-lg-3">管理者：</label>
                <div class="col-lg-6">
                    <select class="form-control" name="Boss">
                        @foreach (var item in ManagerList)
                        {
                            <option value="@(item)">@(item)</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="" class="control-label col-lg-3">申请组：</label>
                <div class="col-lg-8" id="Group">

                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-8 col-lg-offset-3">
                    <input type="submit" class="btn btn-primary" value="申请" />
                </div>
            </div>
        </form>
    </div>


    <div class="tab-pane fade" id="Mine">
        <table class="table table-bordered">
            <tr>
                <th>序号</th>
                <th>申请组名</th>
                <th>申请时间</th>
                <th>审核人</th>
                <th>审核时间</th>
                <th>审核状态</th>
                <th>权限剩余时间</th>
                <th>审核备注（原因）</th>
            </tr>
            @foreach (var item in MList)
            {
                <tr>
                    <td>@(Serial++)</td>
                    <td>@(item.GroupName)</td>
                    <td>@(item.CreateTime)</td>
                    @if (item.Check.HasValue)
                    {
                        <td>@(item.Checker)</td>
                        <td>@(item.CheckTime)</td>
                        if (item.Check.Value)
                        {
                            <td class="text-success"><span class="glyphicon glyphicon-ok-sign">审核通过</span></td>
                            <td>@(item.DateDiff)</td>
                        }
                        else
                        {
                            <td class="text-danger"><span class="glyphicon glyphicon-remove-sign">审核不通过</span></td>
                            <td>-</td>
                        }

                    }
                    else
                    {
                        <td>-</td>
                        <td>-</td>
                        <td class="text-warning"><span class="glyphicon glyphicon-question-sign">等待审核</span></td>
                        <td>-</td>
                        
                    }
                    <td>@(item.Reason)</td>
                </tr>
            }
        </table>
    </div>
</div>

<script>
    $(function () {
        $("[name=Boss]").click(function () {
            var value = $(this).val();
            var xmlhttp;
            if (window.XMLHttpRequest) {
                xmlhttp = new XMLHttpRequest();
            } else {
                xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
            }
            xmlhttp.onreadystatechange = function () {
                if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                    $("#Group").empty().append(xmlhttp.responseText);
                }
            }
            xmlhttp.open("GET", "/Member/GetGroupList?Boss="+value, true);
            xmlhttp.send();
        })
    })
</script>



